.logo {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.logo h1 {
    text-align: center;
    color: #eee;
    margin-left: 15px;
}

.logo img {
    width: 50px;
    border-radius: 10px;
    margin-left: 10px;
}

.hero {
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 300px;
}
.hero-button {
    position: absolute;
    bottom: 20px;
    left: 80%;
    transform: translateX(-50%);
    background-color: #004d66;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


.social-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
  
  .social-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .social-icons a:hover {
    color: #ddd;
  }

  .news {
    background-color: black;
    margin-left: 150px;
    
  }

  .news h2 {
    color: #ddd;
  }

.main {
    margin-bottom: 100px;
    width: 100%;
}

main h2{
    margin: 0px 50px;
}

.flexbox-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.flexbox-container > * {
    padding-bottom: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    background-color: #e6e2e2;
}

.flexbox-item h3 {
    background-color: rgb(48, 45, 45);
    color: #eee;
    font-weight: 300;
}

.flexbox-container ul {
    text-align: left;
    margin: 10px;
    padding: 20px;
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.figure img {
    max-width: 100%;
    margin-bottom: 8px;
}

figcaption {
    color: #155724;
}

.flexbox-item-1 {
    min-height: 100px;
}

.flexbox-item-2 {
    min-height: 100px;
}

.flexbox-item-3 {
    min-height: 100px;
}

.flexbox-container-2 {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 0px 0px 100px;
    
}

.flexbox-container-2 > * {
    padding-bottom: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.flexbox-item-2 {
    width: 200px;
    margin: 10px;
    background-color: #e6e2e2;
}

.flexbox-item-2 h3 {
    background-color: rgb(86, 19, 148);
    color: #eee;
    font-weight: 300;
}

footer {
    background-color: #004d66;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  footer img {
    width: 30px;
  }

  #lastModified {
    color: yellowgreen;
  }

.business-directory .business-content {
    border-top: 2px solid #999494;
    padding: 10px;
    margin-top: 10px;
}

.business-content {
    display: flex;
    align-items: center;
}

.business-content img {
    width: 60px; 
    height: 70px; 
    margin-right: 10px;
}

.business-directory h2 {
    margin-top: 2px;
    font-size: 22px;
}

.business-directory p {
    font-size: 12px;
}

.business-details p {
    font-size: 14px;
}

.business-details {
    display: flex;
    flex-direction: column;
}

.business-details p {
    text-align: left;
}

.weather-content {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.weather-details {
    margin-top: 15px;
  }

.weather-content img {
    width: 60px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 75px;
}

.weather-details {
    display: flex;
    flex-direction: column;
}

.forecast-content p {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: left;
    margin: 10px;
    font-size: 18px;
}

.nav-links a.active {
    clear: both;
    color: yellow;
    font-weight: bold;
    border-bottom: 2px solid yellow;
    transition: max-height .2s ease-out;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
}

section {
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}

h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
}

p {
    font-size: 1rem;
    margin: 0.25rem 0;
}

img {
    border-radius: 5px;
    width: 100%;
}

/* General Page Layout */
.discover-page {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Sidebar and Main Area */
    gap: 20px;
    padding: 20px;
    margin-bottom: 200px;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

.info-box {
    border: 2px solid #ddd;
    padding: 10px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
}

.info-box img {
    width: 100%;
    height: auto;
}

.info-box h2 {
    text-align: center;
}

.info-box p {
    text-align: justify;
}

.calendar-container {
    width: 100%;
    margin: auto;
    border: 2px solid #ddd;
    padding: 10px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-header select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.calendar-table th, .calendar-table td {
    padding: 10px;
    cursor: pointer;
}

.calendar-table td:hover {
    background-color: #f0f0f0;
}

.calendar-table td.selected {
    background-color: #2c6d44;
    color: #fff;
    border-radius: 50%;
}

.selected-date {
    margin-top: 10px;
    font-size: 1.1em;
    text-align: center;
}


/* Gallery Section */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

/* Hover Effect for Desktop */
@media (min-width: 768px) {
    .gallery img:hover {
        transform: scale(1.05);
    }
}

/* Mobile View */
@media (max-width: 768px) {
    .discover-page {
        grid-template-columns: 1fr; /* Single column layout */
    }
}

  

  


/*Mobile Css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #004d66;
    color: #fff;
    padding: 10px 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 0px;
    color: #eee;
    margin-left: 15px;
    justify-content: right;
}

#menu::before {
    content: "☰";
}

nav {
    width: 100%;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: #eee;
    font-weight: 200;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "x";
}


/*Larger View Css*/
@media (min-width: 768px) {

    /* Header */
    header {
        background-color: #004d66;
        color: #fff;
        padding: 10px 20px;
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    header .logo {
        display: block;
        float: left;
        align-items: center;
    }

    header .logo h1 {
        float: right;
    }
    header .logo img {
        height: 50px;
        margin-right: 10px;
    }
    header nav ul {
        list-style-type: none;
        gap: 15px;
        justify-content: right;
    }
    header nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    .navigation {
        display: flex;
    }

    .navigation li {
        display: flex;
        justify-content: right;
        float: right;
    }

    .navigation a {
        text-align: right;
    }

    #menu {
		display: none; 
	}

    nav {
        width: 100%;
    }

    .hero {
        position: relative;
        text-align: center;
        margin: 0px 50px 10px;
    }
    .flexbox-container {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin: 50px 50px;
    }
    
    .flexbox-item {
        flex: 2;
    }

    .flexbox-item-1{
        order: 1;
        flex-grow: 5;
    }

    .flexbox-item--2{
        order: 2;
    }

    .flexbox-item-3{
        order: 2;
    }

    .figure img {
        max-width: 100%;
        margin-bottom: 8px;
    }

    .flexbox-container-2 {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin: 50px 50px 100px;
    }

    .flexbox-item-2 {
        width: 200px;
        margin: 10px;
        background-color: #e6e2e2;
        flex: 3;
    }

    .flexbox-item-01{
        order: 1;
    }

    .flexbox-item-02{
        order: 2;
    }

    .flexbox-item-03{
        order: 2;
    }


}